# Eclipse
.classpath
.project
.settings/
bin/

# Idea
.idea/
*.iws
*.ipr
*.iml

# Maven
log/
target/

# Gradle
.gradle
/build/
/.nb-gradle/

# Copied from root to site source files by maven-resources-plugin
/src/site/markdown/index.md
/src/main/webapp/META-INF/context.xml
