<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	      http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <display-name>server-maven</display-name>
    <servlet>
        <servlet-name>repoServlet</servlet-name>
        <servlet-class>net.gcolin.server.maven.RepoServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>repoServlet</servlet-name>
        <url-pattern>/content/repositories/*</url-pattern>
    </servlet-mapping>
</web-app>